/* Base styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #fff;
  height: 100%;
}

.container-fluid {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}

.row {
  width: 100%;
}

/* Menu styles */
.menu-col {
  flex-grow: 0; 
  flex-basis: 5%; 
  padding: 8px;
  padding-top: 14px;
}

/* Track styles */
.track {
  flex-grow: 1;
  flex-basis: 40%;
  min-width: 35%;
  padding: 8px;
  padding-top: 14px;
}

.track-info, .overflow-grid {
  background-color: #333;
  padding: 15px;
  border-radius: 10px;
  width: 100%;
}

#songListContainer {
  height: 400px; 
  overflow-y: auto;
}

/* Transition styles */
.transition-type {
  flex-grow: 0; 
  flex-basis: 10%; 
  padding: 8px;
  padding-top: 14px;
}

.transition-button {
  padding: 6px 6px;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  margin-right: 6px;
}

#savePathsButton {
  padding: 5px;
  padding-left: 4px;
  padding-right: 4px;
}

#toggleDirectionButton {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

/* Comment Box */
#commentBox {
  width: 100%;
  margin-top: 6px;
}

/* Button styles */
.btn-primary {
  background-color: #011c39;
}

.selected {
  background-color: #0061c8;
  border-color: white;
}

.disabled {
  background-color: #4c6177 !important;
}

/* Cue grid */
.cue-grid-container {
  display: flex;
  flex-direction: row;
}

.cue-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4px;  
}

.default-cues-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-left: 5px; /* Space between VDJ cues and default cues */
}

.cue-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px; 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1rem;
}

.default-cue {
  height: 30px; /* Smaller height for default cues */
  margin-bottom: 5px; /* Space between default cues */
}

.default-cue.clear {
  background-color: #ff4d4d; /* Red color for clear button */
  color: white;
}

/* Song list styles */
.songItem {
  text-overflow: ellipsis;
}

.songItem.selected {
  background-color: rgb(79, 95, 100);
}

/* Details panel styles */
#detailsPanel {
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
  color: #FFF;
}

.detailSection {
  margin: 8px 0;
}

.detailLabel {
  font-size: 0.8em;
  display: block;
  margin-bottom: 3px;
  font-weight: 400;
  color: #AAA;  
}

.detailValue {
  font-size: 1.2em;
  color: #FFF;
}

#detailsPanel h2 {
  font-size: 1.5em;
  margin-bottom: 15px;
  border-bottom: 2px solid #444;
  padding-bottom: 10px;
}

/* This will ensure that BPM and Genre are on the same line */
#track2Bpm, #track2Genre {
display: inline-block;
margin-right: 10px;
}

/* Rating bar */
#rating-bar {
  display: flex;
  justify-content: space-around;
  margin: 12px 12px 12px 12px;
}

.rating-cell {
  width: 10%;  
  height: 30px; 
  border: 1px solid rgb(55, 55, 55);
  text-align: center;
}

.rating-cell:hover, .rating-cell.hovered {
  background-color: grey; /* Highlight color when hovered */
}

.modal-dialog {
  max-width: 70%;
}

.modal-dialog-centered {
  margin-top: 10vh; /* Adjust the top margin to suit your needs */
}

.modal-content {
  background-color: #2e2e2e;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-title {
  margin: 0;
  font-size: 1.5rem; /* Adjust size as needed */
}

.modal-title-arrow {
  font-size: 3rem; /* Large arrow */
  padding: 0 20px; /* Spacing around the arrow */
}

.detailSection {
  margin-bottom: 1rem;
}

.detailLabel {
  display: block;
  font-weight: bold;
  margin-bottom: .5rem;
}

/* Styling for the modifiers list */
.modifierList {
  list-style-type: none;
  padding: 0;
}

.modifierList li {  
  background-color: #333333;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

/* Textarea styles */
#transitionCommentModal {
  width: 100%;
  margin-top: 0.5rem;
}

/* Ensure the footer buttons are spaced out */
.modal-footer .btn {
  margin: 0 10px;
} 

.modal-title-arrow {
  font-size: 2rem; /* Smaller arrow on smaller screens */
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
  .container-fluid {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .modal-header,
  .modal-footer {
      flex-direction: column;
  }
}